.titulo{
    font-size: 2.2em;
}

.formulario{
    margin: 0;

    text-align: center;

    justify-content: center;

    display: flex;
}

.form{
    justify-content: center;
}

mat-form-field{
    width: 20rem;

    padding-top: 0.5rem;

    display: block;
}

.btn-enviar{
    margin: 0.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
}