<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menú desplegable general">
        <mat-icon>home</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="home">Inicio</button>
    </mat-menu>

    <span>My App</span>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="auth" aria-label="Menú desplegable para autentificación">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #auth="matMenu">
        <button mat-menu-item routerLink="/register">Registro</button>
        <button mat-menu-item routerLink="/login">Inicio de Sesión</button>
    </mat-menu>
</mat-toolbar>