/* Estilos globales para la aplicación */
/* Paleta de colores globales -> identificamos colores precisos con una palabra */
:root{
    --negro: #000;
    --blanco: #FFF;
}

.titulo{
    color: var(--negro);

    text-align: center;
}

.container{
    /*
        1: arriba, 2: derecha, 3: abajo, 4: izquierda
    */
    padding: 1rem 2.5rem 1rem 2.5rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }